#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-board {
    border: 3px solid;
}

#scoreText {
    font-family: Georgia, 'Times New Roman', Times, serif, monospace;
    font-size: 100px;
}

#reset-btn{
    font-family: Georgia, 'Times New Roman', Times, serif, monospace;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;

}